/*----------------------------------------------------------------------------------
Project     :  Onedu - Online Education Template
-------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------
[Table of contents]
default css
topbar area
header area
hero area
counter area
course area
about area
filter area
testimonial area
instructor area
newsletter area
blog area
footer area
--------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    default css
---------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*-------------------------------------------------------------------------------------
    font-face css
---------------------------------------------------------------------------------------*/

@font-face {
    font-family: Font Awesome\ 5 Brands;
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

@font-face {
    font-family: Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}

@font-face {
    font-family: Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 600;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
    color: #ff9a18;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

 ::-webkit-input-placeholder {
    /* Edge */
    font-family: 'Poppins', sans-serif;
    color: #6b6a75;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Poppins', sans-serif;
    color: #6b6a75;
}

 ::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #6b6a75;
    font-size: 16px;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

a {
    color: #242424;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    display: block;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0
}

h1 {
    font-size: 65px;
    line-height: 75px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
    line-height: 60px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-size: 28px;
    line-height: 38px;
}

h5 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 0;
}

 ::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-thumb {
    background: #1980FA;
}

.theme-btn {
    background: #ff9a18;
    color: #fff;
    display: inline-block;
    padding: 24px 60px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.theme-btn:hover {
    color: #fff;
}


/*-------------------------------------------------------------------------------------
    topbar area
---------------------------------------------------------------------------------------*/

.top-bg {
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    height: 100vh;
}

.top-bar {
    padding: 20px 0;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.topbar-content svg {
    color: #ff9a18;
    margin-right: 10px;
}

.topbar-content p {
    color: #777777;
    font-weight: 500;
}

.topbar-content .social-container a {
    margin-right: 10px;
}

.topbar-content .social-container a:last-child {
    margin-right: 0;
}

.topbar-content .social-container svg {
    color: #777777;
    border: 1px solid #dbdbda;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 7px;
    transition: .3s linear all;
    margin-right: 0;
}

.topbar-content .social-container svg:hover {
    color: #fff;
    background: #ff9a18;
    border: 1px solid #ff9a18;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}


/*-------------------------------------------------------------------------------------
    navbar area
---------------------------------------------------------------------------------------*/

.nav-border {
    border: 1px solid #dddddd;
    align-items: center;
}

.main-menu ul li {
    display: inline-block;
    margin-right: 50px;
}

.main-menu ul li a {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    transition: .3s linear all;
}

.main-menu ul li a:hover {
    color: #ff9a18;
}

.center-position {
    display: flex;
    justify-content: end;
}

.header-cta {
    background: #ff9a18;
    display: flex;
    padding: 26px 23px;
    align-items: center;
}

.icon img {
    margin-right: 10px;
}

.cta-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 13px;
}

.cta-content span {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}


/*-------------------------------------------------------------------------------------
    hero area
---------------------------------------------------------------------------------------*/

.hero {
    padding: 161px 0;
}

.hero-text p {
    margin: 35px 0;
}


/*-------------------------------------------------------------------------------------
    counter-area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    course-area
---------------------------------------------------------------------------------------*/


/* slick slider */

.slick-slide img {
    display: inline-block;
}

button.slick-arrow svg {
    font-size: 14px;
}

.slick-next.pull-right.slick-arrow {
    display: inline-block;
    border: none;
    background: #2878eb;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: -26%;
}

.slick-prev.pull-left.slick-arrow {
    display: inline-block;
    border: none;
    background: #f14d5d;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 47%;
    bottom: -26%;
}


/*-------------------------------------------------------------------------------------
    about-area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
     filter-area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    testimonial area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    instructor-area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    newsletter area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    blog area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    footer area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
   Homepage 2 
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    back to top button
---------------------------------------------------------------------------------------*/

.top-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 52px;
    font-size: 25px;
    bottom: 32px;
    right: 32px;
    z-index: 999;
    color: #fff;
    background: #1980FA;
    text-align: center;
    cursor: pointer;
    display: none;
}

.top-btn:hover {
    color: #0f1d46;
    transition: all 0.4s linear;
}


/*-------------------------------------------------------------------------------------
    preloader
---------------------------------------------------------------------------------------*/

#loading {
    background-color: #1980FA;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.object {
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #FFF;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFF;
    border-right: 5px solid transparent;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
}

#object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

#object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@-webkit-keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}

@keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}