    /*
    Flaticon icon font: Flaticon
    Creation date: 10/03/2021 18:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-settings:before { content: "\f100"; }
.flaticon-ribbon:before { content: "\f101"; }
.flaticon-vector:before { content: "\f102"; }
.flaticon-customer-service:before { content: "\f103"; }
.flaticon-pin:before { content: "\f104"; }
.flaticon-bluetooth:before { content: "\f105"; }
.flaticon-wifi-signal:before { content: "\f106"; }
.flaticon-footprints:before { content: "\f107"; }
.flaticon-cloudy:before { content: "\f108"; }
.flaticon-pulse:before { content: "\f109"; }
    
    $font-Flaticon-settings: "\f100";
    $font-Flaticon-ribbon: "\f101";
    $font-Flaticon-vector: "\f102";
    $font-Flaticon-customer-service: "\f103";
    $font-Flaticon-pin: "\f104";
    $font-Flaticon-bluetooth: "\f105";
    $font-Flaticon-wifi-signal: "\f106";
    $font-Flaticon-footprints: "\f107";
    $font-Flaticon-cloudy: "\f108";
    $font-Flaticon-pulse: "\f109";